{% extends '../_base.html' %}
{% load static %}


{% block header %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="{% url 'home' %}">Educa</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

    
    <!-- .navbar -->

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="get-started-btn" style="border: none;">Logout</button>
  </div>
</header>

{% endblock header %}
{% block main %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Profile</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <p>
                <label for="id_username">Username:</label>
                {{ form.username}}</p>
              <p>
                <label for="id_email">Email:</label>
                {{form.email}}</p>
                <a href="{% url 'password_change' %}">Change Password</a><br>
              <button type="submit" class="get-started-btn" style="border: none; margin: 2em 0em;" >Update</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>

  <script src="{% static 'js/formStyle.js' %}">
   
  </script>
  <script>
    let nav_links = document.querySelectorAll('li > a')
    nav_links.forEach((link) => {
      if (link.innerText == 'More') {
        link.classList.add('active')
      } else if (link.innerText == 'Home') {
        link.classList.remove('active')
      }
    })
  </script>
{% endblock %}
